* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-size: 1vw;
    box-sizing: border-box;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

/* aside container */
#aside {
    width: 25vw;
    background-color: #1E2939;
    color:#ffffff;
    height: 100%;
}
#aside img {
    width: 100%;
    height: auto;
}

#aside-information {
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
}

#aside-information div {
    margin-bottom: 1vw;
}

#contacts,
#education {
    display: flex;
    flex-direction: column;
}

h3{
    font-size: 2vw;
}

h4 {
    font-weight: 600;
}

.education-period,
.work-period {
    font-size: 1.2vw;
    margin-bottom: 0.5vw;
    display: flex;
   
}

.divider {
    font-size: 1.5vw;
    margin: 0 0.2vw;
}

#contacts a {
    text-decoration: none;
    color: white;
}

.symbols{
    display: flex;
    align-items: center;
}

.university-name,
.work-company {
    color: #e19f6e;
}

.education-major {
    color: #b0bbc1;
}

.symbols span {
    font-size: 2vw;
    margin-right: 1vw;
}

#responsive-education {
    display: none;
}

#arrow {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 50px;
    height:  50px;
    transform: rotate(180deg);
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
} 

#arrow:hover {
    background-color: #b0bbc1;
}

/* main section */
#main-container  {
    width: 75vw;
    padding: 0 4vw;
    color: #1E2939;
}



h1,
h1 + p {
    margin-bottom: 1vw;
}

h1 + p {
    font-size: 1.5vw;
}

h1 {
    font-size: 5vw;
}

.work-exp-duties {
    list-style-position: inside;
}

.work-exp-duty {
    font-size: 1.2vw;
}

.work {
    margin: 1.25vw 0;
}

/* responsive */

#skills {
    display: none;
}

.box{
      background-color:#1E2939;
      background-size: 50%;
      padding:3vw;
      border-radius:3vw;
      color:#fff;
      display:flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
      cursor: pointer;
      margin-bottom: 1vw;
      height: 20vw;
      text-align: center;
    }

    .box:hover {
        background-color:#1E2939;
        opacity: 0.9;
    }

    #skills .box:hover {
        background-color:#1E2939;
        opacity: 1;
        cursor: auto;
    }
 
    
    #responsive-heading {
        display: none;
    }
    
    .responsive-symbol {
        display: none;
    }

    .box img {
        width: 10vw;
        filter: invert(1);
        margin-bottom: 1vw;
    }

    #responsive-skills {
        display: none;
    }
@media only screen and (max-width: 850px) {
    #work-period {
        flex-direction: column;
    }

    main {
        flex-direction: column;
        align-items: center;
        padding: 0;
        max-height: 100vh;
    }

    #aside {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #aside img {
        margin-top: 1vw;
        width: 35vw;
        border: 2px solid white;
        border-radius: 50%;
    }

    #responsive-heading {
        display: initial;
    }
  
    #education,
    #work-experience,
    #main-heading {
        display: none;
    }

    #responsive-skills {
        display: initial;
    }

    #responsive-education * {
        font-size: 3vw;
    }

    h3 {
        display: none;
    }

    #contacts {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90vw;
    }

    #contacts * {
        font-size: 4.1vw;
    }

    .responsive-symbol {
        display: initial;
        align-self: center;
    }

    #main-container {
        width: 100vw;
    }
    h1 + p {
        font-size: 4vw;
        margin: 0.85vw;
        text-align: center;
    }

    #skills {
        padding: 1vw;
        width: 90vw;
        grid-template-columns: repeat(2, 50%);
        row-gap: 2vw;
        column-gap: 2vw;
        justify-items: space-around;
    }
    progress {       
        accent-color: #e19f6e;     
    }
}
